@use '@abstracts/variables' as v;

html {
    font-family: v.$primary-font;
    font-size: v.$base-font-size;
    scroll-behavior: smooth;
}
 
body {
    overflow-x: hidden;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: v.$black;
    color: v.$white;
}