// Variables for the project
$base-font-size: 62.5%; // 10px base font size for easier rem calculations
$bp-tablet: 48rem; // 768px ÷ 16 = 48rem
$bp-tablet-horizontal: 64rem; // 1024px ÷ 16 = 64rem
$bp-desktop: 75rem; // 1200px ÷ 16 = 75rem
$bp-desktop-xl: 90rem; // 1440px ÷ 16 = 90rem

$breakpoints: (
  tablet: 48em, // 768px ÷ 16px = 48rem
  tablet-h: 64em, // 1024px
  desktop: 75em, // 1200px
  desktop-xl: 90em  // 1440px
);

// Variables for fonts
$primary-font: "Space Grotesk", sans-serif;

// Colors
$black: oklch(0.1957 0 0); // #151515
$green: oklch(0.8152 0.1562 160.42); // #4EE1A0
$dark-gray: oklch(0.2603 0 0); // #242424
$light-gray: oklch(0.8853 0 0); // #D9D9D9
$white: oklch(1 0 0); // #FFFFFF
$red: oklch(0.7141 0.1797 30.11); // #FF6F5B