// Variables for the project
$base-font-size: 62.5%; // 10px base font size for easier rem calculations
$bp-tablet: 76.8rem; // 768px
$bp-tablet-horizontal: 102.4rem; // 1024px
$bp-desktop: 120rem; // 1200px
$bp-desktop-xl: 144rem; // 1440px

// Variables for fonts
$primary-font: "Space Grotesk", sans-serif;

// Colors
$black: oklch(20.35% 0.001 276.92);   // #151515
$mint-green: oklch(82.78% 0.1441 151.12);  // #4EE1A0
$dark-gray: oklch(29.41% 0.0012 277.05);  // #242424
$light-gray: oklch(88.76% 0.0017 278.04);  // #D9D9D9
$white: oklch(100% 0 0);              // #FFFFFF
