@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.oval_icon-header {
    position: absolute;
    top: 12rem;
    left: 0;
    opacity: 70%;
    width: 40%;
    pointer-events: none;

    @include mx.breakpoint(tablet) {
        top: 10rem;
        width: 30%;
    }

    @include mx.breakpoint(desktop) {
        top: 15.5rem;
        width: 28%;
    }

    @include mx.breakpoint(desktopxl) {
        top: 10rem;
        width: 35%;
    }
}

.circle_icon-header {
    position: absolute;
    top: 28rem;
    right: 0;
    opacity: 70%;
    pointer-events: none;

    @include mx.breakpoint(tablet) {
        top: 33.8rem;
        right: 0;
    }

    @include mx.breakpoint(desktop) {
        top: 37rem;
        right: 44.5rem;
    }

    @include mx.breakpoint(desktopxl) {
        top: 46rem;
        right: 78.5rem;
    }
}

.oval_icon-technologies {
    position: absolute;
    top: 145rem;
    right: 0;
    transform: scaleX(-1);
    opacity: 70%;
    width: 50%;
    pointer-events: none;

    @include mx.breakpoint(tablet) {
        top: 89rem;
        width: 30%;
    }

    @include mx.breakpoint(desktop) {
        top: 85rem;
        width: 23%;
    }

    @include mx.breakpoint(desktopxl) {
        top: 96rem;
        width: 23%;
    }
}

.footer-oval {
    position: absolute;
    top: 496rem;
    left: 0;
    width: 50%;
    opacity: 70%;
    pointer-events: none;

    @include mx.breakpoint(tablet) {
        top: 339rem;
        width: 22%;
    }

    @include mx.breakpoint(desktop) {
        top: 330rem;
        width: 28%;
    }

    @include mx.breakpoint(desktopxl) {
        top: 363rem;
        width: 25%;
    }
}