@use '@abstracts/variables' as v;
@use '@abstracts/mixins' as mx;

.projects {
    margin-bottom: 9rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        &--title {
            font-size: 4rem;
            letter-spacing: -1.136px;

            @include mx.breakpoint(tablet) {
                font-size: 7.2rem;
            }
            
            @include mx.breakpoint(desktop) {
                font-size: 8.8rem;
            }
        }
    }

    &__content {
        @include mx.breakpoint(tablet) {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
            gap: 2.1rem;
        }

        @include mx.breakpoint(desktop) {
            gap: 2.4rem;
        }

        &_project {
            margin-bottom: 5.2rem;
            text-transform: uppercase;

            &--cover {
                margin-bottom: 2rem;
                width: 100%;
            }

            &--title {
                font-size: 2.4rem;
                margin-bottom: 0.7rem;
            }

            &--technology {
                display: flex;
                gap: 1.8rem;
                color: v.$light-gray;
                margin-bottom: 2rem;
            }

            &--buttons {
                display: flex;
                gap: 3.2rem;
            }
        }
    }
}